<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link
      href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/fixedcolumns/3.3.1/css/fixedColumns.dataTables.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css"
      rel="stylesheet"
    />

    <link
      href="../../vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="./style.css" rel="stylesheet" />

    <title>LIS - Statistics</title>
  </head>
  <body id="bootstrap-override">
    <!-- Nav Bar -->
    <nav id="app-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img class="logo" src="../../svg/statistics.svg" /><span
              id="logo-text"
              >Statistics</span
            >
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="../patient/index.html">
              <img class="logo" src="../../svg/patient.svg" /> Patient
              Management</a
            >
            <a class="dropdown-item text-light" href="../order/index.html">
              <img class="logo" src="../../svg/order.svg" /> Order Management</a
            >
            <a class="dropdown-item text-light" href="../sample/index.html">
              <img class="logo" src="../../svg/sample.svg" /> Sample
              Management</a
            >

            <a class="dropdown-item text-light" href="../test/index.html">
              <img class="logo" src="../../svg/test.svg" /> Test Management</a
            >
            <a class="dropdown-item text-light" href="../user/index.html">
              <img class="logo" src="../../svg/user.svg" /> User Management</a
            >
            <a class="dropdown-item text-light" href="../client/index.html">
              <img class="logo" src="../../svg/client.svg" /> Client
              Management</a
            >

            <a
              class="nav-link dropdown-item text-light"
              href="../../index.html"
            >
              <img class="logo" src="../../svg/browser.svg" /> Go Back To
              Menu</a
            >
          </div>
        </li>
      </ul>
    </nav>
    <!-- Client List -->
    <div class="container">
      <img src="statistics.png" width="100%" />
    </div>
    <script type="text/javascript" src="../data.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.1/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
